$detail-width: 50%;
$middle-buffer: 0%;
$control-color: $outer-space;

$criticalness-color: #8E2800;
$tractability-color: #DB9E36;

$dimensions: 'criticalness', 'tractability';

%data-label {
  font-size: 0.7rem;
  font-weight: 300;
  text-transform: uppercase;
}

[data-route="data"] {
  padding-bottom: 5rem;
  @extend %content-width;
  h1 {
    @extend %section-title;
  }
  .loader, .help {
    margin-top: -0.2rem;
    line-height: 1.5;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
  .visualization-container {
    @extend %clearfix;
    &.preview {
      .detail .help {
        opacity: 0;
      }
    }
    &:not(.preview) {
      .detail .deep-dive {
        opacity: 0;
      }
    }
    .detail .help, .detail .deep-dive {
      position: absolute;
      left: 3rem;
      right: 0;
      @include transition(opacity 200ms);
    }
  }
  .detail, .results {
    float: left;
  }
  .detail {
    $image-scale: 0.9;
    width: $detail-width;
    height: 45rem;
    position: relative;
    @each $cause in $cause-images {
      .image[data-cause-id=#{nth($cause, 1)}] {
        background-image: url("../images/" + nth($cause, 1) + ".png");
        width: unquote(($image-scale * nth($cause, 2)) + 'px');
        height: unquote(($image-scale * nth($cause, 3)) + 'px');
        background-size: unquote(($image-scale * nth($cause, 2)) + 'px ' + ($image-scale * nth($cause, 3)) + 'px')
      }
    }
    .image {
      float: left;
      margin-top: 0.5rem;
      margin-right: 1.5rem;
      margin-bottom: 0.5rem;
    }
    .context {
      @extend %clearfix;
      border-bottom: dotted 1px $outer-space;
      padding-bottom: 2.1rem;
      margin-top: -2px;
      .title {
        @extend %header-font;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 3.9rem;
        letter-spacing: 1px;
        word-spacing: 3px;
        line-height: 1;
        margin-bottom: 1rem;
        margin-top: -0.2rem;
      }
      .description {
        font-weight: 100;
        line-height: 1.65;
        font-size: 0.9rem;
      }
    }
    .dimensions-container {
      @extend %clearfix;
      border-bottom: dotted 1px $fiord;
      @each $dimension in $dimensions {
        &[data-active-dimension=#{$dimension}] {
          .#{$dimension} {
            opacity: 1;
            position: relative;
            &:before, &:after {
              content: "";
              @include square(1.5rem);
              position: absolute;
              display: block;
              @include transform(rotate(45deg));
              left: 50%;
              top: 100%;
              margin-left: -0.75rem;
            }
            &:before {
              border: dotted 1px $fiord;
              margin-top: -0.75rem;
            }
            &:after {
              background: $body-background-color;
              margin-top: -0.85rem;
              border: solid 1px $body-background-color;
            }
          }
        }
      }
      .dimension {
        cursor: pointer;
        padding: 2.5rem 0;
        font-size: 0.8rem;
        width: 50%;
        float: left;
        text-align: center;
        &.criticalness {
          border-right: dotted 1px $fiord;
          .circle {
            border: solid 1px $criticalness-color;
            .percent {
              background-color: $criticalness-color;
            }
          }
        }
        &.tractability {
          .circle {
            border: solid 1px $tractability-color;
            .percent {
              background-color: $tractability-color;
            }
          }
        }
      }
      .label {
        text-transform: uppercase;
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
      }
      .circle {
        @include square(5rem);
        margin: 1rem auto;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        .percent {
          @include transition(all $transition-duration);
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
    .dimensions-detail {
      padding-top: 2rem;
      .more-info {
        line-height: 1.5;
        font-weight: 100;
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
      }
      .graph {
        position: relative;
        .labels {
          position: relative;
          top: auto;
          bottom: auto;
        }
        .label {
          position: absolute;
          font-size: 0.7rem;
          font-weight: 100;
          @include transform(rotate(-90deg));
          transform-origin: left;
          -webkit-transform-origin: left;
          white-space: nowrap;
          text-align: right;
          text-transform: uppercase;
          width: 2rem;
          text-align: right;
          @include transition(all $transition-duration);
        }
        .bar, .bottom-bar {
          @include transition(all $transition-duration);
        }
      }
    }
  }
  .results {
    overflow: hidden;
    border-right: dotted 1px $fiord;
    padding-right: 3rem;
    margin-right: $middle-buffer;
    width: calc(100% - #{$detail-width + $middle-buffer});
  }
  .slider-help {
    padding-top: 1.75rem;
    font-weight: 100;
    font-size: 0.7rem;
    line-height: 1.2;
  }
  .input-wrapper {
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    -webkit-user-select: none;
    user-select: none;
    .input {
      padding-bottom: 1rem;
    }
  }
  .input {
    position: relative;
    margin: 0 auto;
    .dimension {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .slider {
    margin-top: 0.25rem;
    height: 1px;
    background: $outer-space;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      // border-bottom: dotted 1px $outer-space;
      top: 2rem;
    }
  }
  .input .dimension {
    text-transform: uppercase;
    .name {
      font-size: 0.7rem;
    }
    .value {
      @extend %header-font;
      font-size: 2.3rem;
      font-weight: 500;
      letter-spacing: 1px;
      margin-top: 0.2rem;
    }
    &.criticalness {
      .value {
        color: $criticalness-color;
      }
    }
    &.tractability {
      float: right;
      text-align: right;
      .value {
        color: $tractability-color;
      }
    }
  }
  .labels {
    position: absolute;
    top: -1.2rem;
    bottom: -1.2rem;
    .extended-controls {
      height: 45%;
      bottom: 50%;
      &:before {
        content: "";
        
      }
    }
  }
  .extended-controls, .controls {
    width: 2px;
    margin-left: -1px;
    background: $control-color;
    cursor: pointer;    
    position: absolute;
  }
  .controls {
    @include square(1.5rem);
    left: -0.75rem;
    top: -0.75rem;
    background: white;
    border-radius: 50%;
    position: absolute;
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19), 0 2px 4px rgba(0, 0, 0, 0.23);
  }
  .chart {
    position: relative;
  }
  .explanation {
    font-size: 0.8rem;
    line-height: 1.5;
    font-weight: 100;
    margin-top: 2rem;
  }
  .header {
    position: relative;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    -webkit-user-select: none;
    user-select: none;
    .label {
      position: relative;
      display: inline-block;
      padding-right: 0.35rem;
    }
    .label, .scale {
      background: $body-background-color;
      z-index: 1;
    }
    &:before {
      content: "";
      position: absolute;
      left: 1rem;
      right: 0;
      border-bottom: dotted 1px $outer-space;
      top: 0.25rem;
    }
  }
  .scale {
    padding-left: 0.35rem;
    position: absolute;
    left: calc(100% - 3.7rem);
    top: 0;
    white-space: nowrap;
    &, .label, .value {
      display: inline-block;
    }
    .label {
      margin-right: -0.2rem;
    }
  }
  .visualization {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .row {
      @include transition(transform $transition-duration);
      position: absolute;
      left: 0;
      right: 0;
      padding: 1rem 0;
      white-space: nowrap;
      cursor: pointer;
      &:hover {
        .bar {
          opacity: 1;
        }
      }
      .values {
        display: none;
      }
      .label {
        text-align: left;
        @extend %data-label;
        margin-bottom: 0.2rem;
        .text, .remove {
          display: inline-block;
        }
      }
      .bar-container {
        width: 100%;
        white-space: nowrap;
        position: relative;
        z-index: 1;
      }
      .bar {
        display: inline-block;
        @include transition(width $transition-duration);
        height: 4px;
        border-right: solid 1px $body-background-color;
        position: relative;
        &:last-of-type {
          border-left: solid 2px $body-background-color;
          border-right: none;
          &:before, &:after {
            content: "";
            position: absolute;
            display: block;
            opacity: 0;            
          }
          &:before {
            background: $body-background-color;
            left: 100%;
            width: 0.9rem;
            height: 0.5rem;
            top: -2px;
          }
          &:after {
            content: "]";
            top: -2px;
            @include transition(opacity $transition-duration);
            left: calc(100% + 0.5rem);
          }
        }
      }
      .remove {
        display: none;
        cursor: pointer;
        opacity: 0;
        margin-left: 0.5rem;
        @include transition(opacity $transition-duration);
        &:before {
          content: "(";
        }
        &:after {
          content: ")";
        }
      }
      &:after {
        content: "";
        position: absolute;
        display: block;
        left: 1rem;
        right: -10rem;
        top: 34px;
        height: 1px;
        opacity: 0;
        @include transition(opacity $transition-duration);
        border-bottom: dotted 1px $fiord;
      }
    }
  }
  .disabled-causes {
    position: absolute;
    padding-left: 1rem;
    width: calc(100% - 1rem);
    @include transition(all $transition-duration);
    &:not(:empty) {
      &:before {
        content: "More causes";
        @extend %data-label;
        position: absolute;
        top: 2.5rem;
        background: $body-background-color;
        z-index: 1;
        padding-right: 0.5rem;
      }     
      &:after {
        content: "";
        border-bottom: dotted 1px $fiord;
        width: 100%;
        position: absolute;
        top: 2.75rem;
      } 
    }
    padding-top: 4rem;
    .disabled-cause {
      @extend %data-label;
      cursor: pointer;
      padding: 0.75rem 0;
    }
  }
  &[data-loading="true"] {
    .visualization-container {
      display: none;
    }
  }
  &[data-loading="false"] {
    .loader {
      display: none;
    }
  }
  .methodology {
    padding-top: 3rem;
    @include mobile { // so no overlap
      padding-top: 20rem;
    }
    clear: both;
    .title {
      @extend %section-title;
    }
    .subtitle {
      font-size: 1.1rem;
      margin-bottom: 1.5rem;
      font-weight: 500;
    }
    p {
      font-size: 0.9rem;
      font-weight: 100;
      line-height: 1.65;
      margin-bottom: 1.25rem;
    }
    a {
      font-weight: 500;
    }
    @include mobile {
      .subtitle, p {
        font-size: 12px;
      }
    }
  }
}

@each $cause in $cause-images {
  .visualization-container[data-active-cause-id=#{nth($cause, 1)}] {
    .row[data-cause-slug=#{nth($cause, 1)}] {
      &:after {
        opacity: 1;
      }
      .bar:last-of-type:after, .bar:last-of-type:before {
        opacity: 1;
      }
    }
  }
}