$circle-width: 50vw;
$control-color: black;

[data-route="data"] {
  padding-top: 5rem;
  padding-bottom: 5rem;
  .visualization-container {
    &.preview {

    }
    &:not(.preview) {

    }
  }
  .input-wrapper {
    width: $circle-width;
    text-align: center;
    padding: 5rem 4rem 0 4rem;
    position: relative;
  }
  .chart {
    width: calc(100% - #{$circle-width});
  }
  .input-wrapper, .chart {
    float: left;
  }
  .description {
  }
  .input {
    position: relative;
    width: 10vw;
    height: 10vw;
    margin: 0 auto;
  }
  .circle-wrapper, .circle {
    @include square(100%);
  }
  .circle-wrapper {
    border-radius: 50%;
    overflow: hidden;
    position: relative;   
  }
  .circle {
    .section {
      position: absolute;
      height: 100%;
    }
  }
  .labels {
    position: absolute;
    bottom: 50%;
    height: 90%;
    .extended-controls {
      height: 100%;
      &:before {
        content: "";
        @include square(0.75rem);
        background: $control-color;
        border-radius: 50%;
        top: -0.37rem;
        left: -0.32rem;
        position: absolute;
        display: block;
      }
      .dimension {
        position: absolute;
        top: -2rem;
        padding: 1rem;
        pointer-events: none;
        &.urgency {
          right: 100%;
        }
        &.tractability {

        }
      }
    }
  }
  .extended-controls, .controls {
    width: 2px;
    margin-left: -1px;
    background: $control-color;
    cursor: pointer;    
    position: absolute;
  }
  .controls {
    top: 0;
    height: 100%;
  }
  .scale {
    text-align: right;
    .label, .value {
      display: inline-block;
    }
  }
  .visualization {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .row {
      @include transition(transform $transition-duration);
      position: absolute;
      left: 0;
      right: 0;
      padding: 1rem 4rem 1rem 1rem;
      white-space: nowrap;
      &.active {
        background: yellow;
        .bar, .values {
          opacity: 1;
        }
        .remove {
          opacity: 1;
        }
      }
      .values {
        opacity: 0;
        font-size: 0.8rem;
      }
      .label {
        text-align: left;
        font-size: 0.8rem;
        font-weight: 100;
        text-transform: uppercase;
        padding-bottom: 0.25rem;
      }
      .bar-container {
        width: 100%;
        white-space: nowrap;
        position: relative;
      }
      .bar {
        float: left;
        @include transition(width $transition-duration);
        height: 5px;
        &:first-of-type {
          border-right: solid 1px $body-background-color;
          .value:after {
            content: " :";
          }
        }
        &:last-of-type {
          border-left: solid 1px $body-background-color;
          .value {
            padding-left: 2rem;
          }
        }
      }
      .remove {
        cursor: pointer;
        opacity: 0;
        position: absolute;
        right: 0;
      }
    }
  }
  .loader {
    text-align: center;
  }
  .disabled-causes {
    position: absolute;
  }
  &[data-loading="true"] {
    .visualization-container {
      display: none;
    }
  }
  &[data-loading="false"] {
    .loader {
      display: none;
    }
  }
}