[data-route="data"] {
  padding-top: 50px;
  .slider {
    text-align: center;
    margin-bottom: 3rem;
    .label, input {
      display: inline-block;
      vertical-align: middle;
    }
    input {
      margin: 0 1rem;
    }
  }
  .visualization {
    .row {
      margin-bottom: 1.25rem;
      width: 75vw;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      .label {
        font-size: 0.7rem;
        font-weight: 100;
        text-transform: uppercase;
        padding-top: .5rem;
      }
      .bar-container {
        white-space: nowrap;
        position: relative;
      }
      .bar {
        position: absolute;
        &:first-of-type {
          right: 50%;
        }
        &:last-of-type {
          left: 50%;
        }
      }
      .bar {
        height: 2px;
        margin-right: 0.5rem;
      }
    }
  }
  .key {
    text-align: left;
    padding-left: 80px;
    .color, .label {
      display: inline-block;
      vertical-align: middle;
    }
    .color {
      width: 5px;
      height: 5px;
      margin-right: 10px;
    }
  }
}