.button {
  border: solid 1px lighten($outer-space, 10%);
  padding: 0.1rem 1rem 0 1rem;
  line-height: 2;
  border-radius: 2px;
  cursor: pointer;
  @include transition(background-color $transition-duration, color $transition-duration);
  &:hover {
    color: $body-background-color;
    background: $outer-space;
  }
}

%clearfix {
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */    
  }
  &:after {
    clear: both;
  }
}

%content-width {
  max-width: 1400px;
  min-width: 900px;
  width: 75vw;
  margin: 0 auto;
}

%section-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  padding-bottom: 0.75rem;
  border-bottom: solid 1px $outer-space;  
  font-weight: 800;
}