$vote-content-width: 60;
$winning-distance: 50 - (50 / 100) * ($vote-content-width / 100 / 2) * 100 - (50 - ($vote-content-width / 100) * 50vw) / 2;
@warn $winning-distance;

[data-route="vote"] {
  #question {
    padding: 2rem 0 0px 0;
    text-align: center;
    font-size: 36px;
    #dimension, .main {
      display: inline-block;
    }
  }
  $causes: 0, 1;
  @each $cause in $causes {
    $other-cause: 0;
    $multiplier: -1;
    @if $cause == 0 {
      $other-cause: 1;
      $multiplier: 1;
    }
    &[data-won="#{$cause}"] {
      #cause-container:before, #cause-#{$other-cause}, #cause-#{$cause} {
        @include transform(translateX(#{$winning-distance * $multiplier}));
      }
      #cause-container:before, #cause-#{$other-cause} {
        opacity: 0;
      }
    }
  }
  &[data-won] {
    #cause-container:before, #cause-0, #cause-1 {
      @include transition(all $transition-duration);
    }
  }
  #cause-container {
    text-align: center;
    margin: 6rem 0;
    position: relative;
    @extend %clearfix;
    &:before {
      content: "";
      width: 1px;
      display: block;
      height: 100%;
      background: gray;
      position: absolute;
      left: 50%;
      top: 0;
    }
  }
  #cause-0, #cause-1 {
    float: left;
    cursor: pointer;
    width: 50%;
    height: 45vh;
    .contents {
      padding-top: 2rem;
      width: $vote-content-width * 1%;
      margin: 0 auto;
    }
    .title {
      font-weight: 800;
      margin-bottom: 1rem;
    }
    .button {
      margin-top: 2rem;
      display: inline-block;
    }
  }
  #cause-0 {
  }
  #cause-1 {
  }
  #choose-both {
    display: none; // ?

    text-align: center;
    .text, .tagline, #choose-both-button {
      display: inline-block;
    }
    .button {
      margin-left: 8px;
    }
  }
  .loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(white, 0.5);
    opacity: 0;
    pointer-events: none;
  }
  &[data-loading="true"] {
    pointer-events: none;
    .loader {
      opacity: 1;
    }
  }
}