[data-route="vote"] {
  #question {
    #dimension, .main {
      display: inline-block;
    }
  }
  #cause-0, #cause-1 {
    display: inline-block;
  }
  #choose-both {
    .tagline, #choose-both-button {
      display: inline-block;
    }
  }
}