$vote-content-width: 60;
$winning-distance: 50 - (50 / 100) * ($vote-content-width / 100 / 2) * 100 - (50 - ($vote-content-width / 100) * 50vw) / 2;

[data-route="vote"] {
  #question {
    padding: 2rem 0 0px 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    #dimension, .main {
      display: inline-block;
    }
  }
  $causes: 0, 1;
  @each $cause in $causes {
    $other-cause: 0;
    $multiplier: -1;
    @if $cause == 0 {
      $other-cause: 1;
      $multiplier: 1;
    }
    &[data-won="#{$cause}"] {
      #cause-container:before, #cause-#{$other-cause}, #cause-#{$cause} {
        @include transform(translate3d(#{$winning-distance * $multiplier}, 0, 0));
      }
      #cause-container:before, #cause-#{$other-cause} {
        opacity: 0;
      }
      #cause-#{$cause} .loader-container {
        @include animation(fade-in $transition-duration 1.5s forwards);
      }
    }
  }
  &[data-won] {
    #cause-container:before, #cause-0, #cause-1 {
      @include transition(all $transition-duration);
    }
  }
  &.fade #cause-container {
    opacity: 0;
  }
  #cause-container {
    @include transition(opacity $transition-duration);
    text-align: center;
    margin: 6rem 0;
    position: relative;
    @extend %clearfix;
    &:before {
      content: "";
      width: 1px;
      display: block;
      height: 100%;
      background: gray;
      position: absolute;
      left: 50%;
      top: 0;
    }
  }
  #cause-0, #cause-1 {
    float: left;
    cursor: pointer;
    width: 50%;
    height: 45vh;
    .contents {
      width: $vote-content-width * 1%;
      margin: 0 auto;
    }
    .title {
      font-weight: bold;
      font-size: 1.75rem;
      letter-spacing: 1px;
      margin-bottom: 1rem;
      text-transform: uppercase;
      padding-top: 8rem;
      position: relative;
      @extend %header-font;
      &:before {
        content: "";
        left: 50%;
        margin-left: -6.5rem;
        width: 13rem;
        height: 6.5rem;
        background-size: 100%;
        position: absolute;
        top: 0;
        display: block;
        background-image: url('../images/climate_change.png');
      }
    }
    .description {
      font-size: 0.8rem;
      line-height: 1.35;
      text-align: left;
    }
    .button {
      margin-top: 2rem;
      display: inline-block;
      font-size: 0.9rem;
    }
    .loader-container {
      opacity: 0;
      margin-top: 3rem;
      position: relative;
      .loader {
        @include loader(1.5rem, lighten($gray, 5%));
        border-width: 2px;
        &:after {
          top: 0px;
          left: 15px;
          @include square(0.35rem);
        }
      }
    }
  }
  #cause-0 {
  }
  #cause-1 {
    .title {
      padding-top: 7.7rem;
      &:before {
        background-image: url('../images/democracy.png');
        width: 9rem;
        height: 6.5rem;
        margin-left: -4.5rem;
        margin-top: -0.5rem;
      }      
    }
  }
  #choose-both {
    display: none; // ?

    text-align: center;
    .text, .tagline, #choose-both-button {
      display: inline-block;
    }
    .button {
      margin-left: 8px;
    }
  }
}