@import "library";

* {
  box-sizing: border-box;
}

body {
  background-color: $body-background-color;
  margin: 0;
  color: $text-color;
  @include border-radius(50%);
  @extend %body-font;
  &[data-active-route="vote"] nav #vote,
  &[data-active-route="about"] nav #about,
  &[data-active-route="data"] nav #data {
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: calc(100% + 3px);
      height: 1px;
      background: lighten($black, 10%);
    }
  }
  nav {
    @extend %header-font;
    padding: 20px;
    letter-spacing: 1px;
    li {
      position: relative;
      list-style: none;
      display: inline-block;
      a {
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: 300;
        color: $text-color;
      }
    }
    #vote, #data, #about {
      float: right;
      margin-left: 20px;
    }
  }
  #content {
    padding: 20px 0;
  }
}

a {
  color: $fiord;
}

@import "widgets/loader";

@import "ui_elements";
@import "vote";
@import "data";
@import "about";