@import "library";

body {
  margin: 0;
  color: green;
  @include border-radius(50%);
  @extend %body-font;
  nav {
    li {
      list-style: none;
      display: inline-block;
    }
  }
}

@import "vote";