<div class="route" data-route="about">
  <div class="main">
    <h1>About</h1>
    <div class="description">Inspired by the <a href="http://gif.gf/" target="_blank">GifGif</a> and <a href="http://pulse.media.mit.edu/" target="_blank">Place Pulse</a> projects, we built this site as a tool for measuring the qualities of criticalness and tractability in causes deemed worthy of global attention by <a href="http://www.givewell.org/" target="_blank">GiveWell</a>, a charity research organization.</div>
    <div class="description">Users are asked to compare two causes at a time in terms of their criticalness or tractability. Votes are collected and visualized on the <a href="./data">data</a> page, where users can see the causes ranked by priority.</div>
  </div>
</div>