<div class="route" data-route="about">
  <div class="main">
    <h1>About</h1>
    <div class="section">
      <div class="title">What is this place?</div>      
      <div class="detail">
        <p>Inspired by the <a href="http://gif.gf/" target="_blank">GifGif</a> and <a href="http://pulse.media.mit.edu/" target="_blank">Place Pulse</a> projects, we built this site as a tool for measuring the qualities of criticalness and tractability in causes deemed worthy of global attention by <a href="http://www.givewell.org/" target="_blank">GiveWell</a>, a charity research organization.</p>
        <p>Users are asked to compare two causes at a time in terms of their criticalness or tractability. Votes are collected and visualized on the <a href="./data">data</a> page, where users can see the causes ranked by priority.</p>
      </div>
    </div>
    <div class="section">
      <div class="title">What's the point?</div>
      <div class="detail">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores eveniet deserunt ducimus quo, nobis ex deleniti enim natus doloribus iste.</p>
      </div>
    </div>
    <div class="section">
      <div class="title">Methodology</div>
      <div class="detail">
        <p>It's not obvious how to get from pairwise comparisons to rankings. For this task we turned to the analytic hierarchy process, a widely accepted technique for making complex decisions.</p>
      </div>
    </div>
  </div>
</div>