<div class="route" data-route="about">
  <div class="main">
    <h1>About</h1>
    <div class="section">
      <div class="title">What is this place?</div>      
      <div class="detail">
        <p>Oughtness is a tool for measuring the criticalness and tractability of causes deemed worthy of global attention by <a href="http://www.givewell.org/" target="_blank">GiveWell</a>, a charity research organization. The site is inspired by the <a href="http://gif.gf/" target="_blank">GifGif</a> and <a href="http://pulse.media.mit.edu/" target="_blank">Place Pulse</a> projects.</p>
        <p>Users are asked to compare two causes at a time in terms of their criticalness or tractability. Votes are collected and visualized on the <a href="./data">data</a> page, where users can see the causes ranked by priority.</p>
      </div>
    </div>
    <div class="section">
      <div class="title">What's the point?</div>
      <div class="detail">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores eveniet deserunt ducimus quo, nobis ex deleniti enim natus doloribus iste.</p>
      </div>
    </div>
    <div class="section">
      <div class="title">Methodology</div>
      <div class="detail">
        <p>In order to derive overall rankings for causes from pairwise comparisons, we made use of the analytic hierarchy process (AHP). The AHP is a widely accepted technique for making complex decisions involving multiple alternatives and criteria. For more details, check out the methodology section of our <a href="./data">data</a> page.</p>
      </div>
    </div>
  </div>
</div>