<div class="route" data-route="data" data-loading="true">
  <h1>Results</h1>
  <div class="loader">
    <div class="text">Loading visualization...</div>
  </div>
  <div class="visualization-container">
    <div class="results">
      <div class="input-wrapper">
        <div class="input">
          <div class="criticalness dimension">
            <div class="name">Criticalness</div>
            <div class="value"></div>
          </div><div class="tractability dimension">
            <div class="name">Tractability</div>
            <div class="value"></div>
          </div> 
          <div class="slider">
            <div class="controls"></div>
          </div>
          <div class="slider-help">Move the slider to change the dimensions' weights in determining priority.</div>
        </div>
      </div>
      <div class="chart">
        <div class="header">
          <div class="label">The causes - by priority*</div>
        </div>
        <div class="visualization"></div>
        <div class="explanation">*Refer to the Methodology section below to see how we determine priority.</div>
      </div>      
    </div>
    <div class="detail">
      <div class="help">Roll over a cause on the right to see more information.
      </div>
      <div class="deep-dive">
        <div class="context">
          <div class="title"></div>
          <div class="blurb">
            <div class="image"></div>
            <div class="description"></div>
          </div>          
        </div>
        <div class="dimensions-container">
          <div class="dimension criticalness">
            <div class="label">Criticalness</div>
          </div>
          <div class="dimension tractability">
            <div class="label">Tractability</div>
          </div>          
        </div>
        <div class="dimensions-detail">
          <div class="more-info"></div>
          <div class="graph-explanation">The chart below shows the percentage breakdown of voters' preferences for each cause pitted against <span></span>.</div>
          <div class="graph">
            <div class="upper-vote-labels"></div>
            <svg></svg>
            <div class="lower-vote-labels"></div>
            <div class="labels"></div>
          </div>
          <div class="highlight-comparison">
            <div class="text"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="methodology">
      <div class="title">Methodology</div>
      <div class="subtitle">How do we determine cause priority?</div>
      <p>We are borrowing from the <a target="_blank" href="https://en.wikipedia.org/wiki/Analytic_hierarchy_process">analytic hierarchy process</a> to translate the votes cast on the site to the ranking presented above.</p>
      <p>The slider carries out the final step of the analytic hierarchy process: weighting criteria to determine the best alternative. Or, in terms of our purposes: weighting criticalness versus tractability to determine the cause that most deserves attention.</p>
      <p>We deviate from the AHP in several ways: (1) We determine each cause's weight on the <a target='_blank' href='http://www.palgrave-journals.com/jba/journal/v4/n3/fig_tab/jba200834t1.html'>Fundamental Scale for Pairwise Comparisons</a> (FSPC) by linearly interpolating from its favorability among voters to the FSPC. For example, if 100% of voters preferred cause A to cause B with respect to dimension Y, then A would be assigned a 9 (the FSPC's highest value). If 50% of voters preferred cause A to cause B with respect to dimension Y, then A would be assigned a 5. (2) In processing the matrices for each dimension, rather than finding each cause's principal right eigenvector, we sum its relative weights.</p>
    </div>
  </div>
</div>