<div class="route" data-route="data" data-loading="true">
  <div class="loader">
    <div class="text">Loading visualization...</div>
  </div>
  <h1>Results</h1>
  <div class="visualization-container">
    <div class="detail">
      <div class="description">
        Rollover a cause to see more information.
        <div class="image"></div>
        <div class="title"></div>
        <p></p>
        <p></p>
      </div>
    </div>
    <div class="results">
      <div class="input-wrapper">
        <div class="input">
          <div class="urgency dimension">
            <div class="name">Criticalness</div>
            <div class="value"></div>
          </div><div class="tractability dimension">
            <div class="name">Tractability</div>
            <div class="value"></div>
          </div> 
          <div class="slider">
            <div class="controls"></div>
          </div>
          <div class="slider-help">* Move the slider to change the dimensions' weights in determining the ultimate cause.</div>
        </div>
      </div>
      <div class="chart">
        <div class="header">
          <div class="label">The causes - by priority</div>
          <div class="scale">
            <div class="label">Max</div>
            <div class="value"></div>
          </div>
        </div>
        <div class="visualization"></div>
      </div>      
    </div>
    <div class="methodology">
      <div class="title">Methodology</div>
      <div class="subtitle">How did we get these numbers?</div>
      <p>We are borrowing from the <a target="_blank" href="https://www.wikipedia.com/en/Analytic_hierarchy_process">analytic hierarchy process</a> to translate the votes cast on the site to the ranking presented above.</p>
      <p>The slider carries out the final phase of the analytic hierarchy process: weighting criteria to determine the best alternative. Or, in terms of our purposes: weighting urgency versus tractability to determine the cause that most deserves the world's attention.</p>
      <p>We are deviating from the analytic hierarchy process in several ways. (1) We are determining each cause's weight on the Fundamental Scale for Pairwise Comparisons (FSPC) by linearly interpolating from its favorability among voters to the FSPC. For example, if 100% of voters preferred cause A to cause B with respect to dimension Y, then A would be assigned a 9 (the FSPC's highest value). If 50% of voters preferred cause A to cause B with respect to dimension Y, then A would be assigned a 5. (2) In processing the matrices for each dimension, rather than finding each cause's principal right eigenvector, we sum its relative weights.</p>
    </div>
  </div>
</div>