<div class="route" data-route="vote">
  <div id="question-container">
    <div id="question">
      <div class="main">Which is more </div>
      <div id="dimension">
        <div class="word"></div>
        <div class="popover">
          <div class="repeated-word"></div>
          <div class="definition"></div>
          <div class="example"></div>
          <div class="source"></div>
        </div>
      </div>?
    </div>
    <div id="cause-container">
      <div data-vote-for="0" id="cause-0">
        <div class="contents">
          <div class="title"></div>
          <div class="description"></div>
          <div class="sources"></div>
          <div class="button">Choose</div>    
          <div class="loader-container">
            <div class="loader"></div>
          </div>    
        </div>
      </div>
      <div data-vote-for="1" id="cause-1">
        <div class="contents">
          <div class="title"></div>
          <div class="description"></div>
          <div class="sources"></div>  
          <div class="button">Choose</div>       
          <div class="loader-container">
            <div class="loader"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="set-progress">
      <div class="question-label">
        <span id="current-question"></span> of <span id="total-questions"></span>
      </div>
    </div>
  </div>
  <div id="interstitial">
    <div class="message">
      You've finished set <span id="current-set"></span>.
    </div>
    <div id="continue-to-next-set" class="button">Continue</div>
  </div>
  <div id="choose-both">
    <div class="text">
      <div class="tagline">Can't decide?</div>
      <div data-vote-for="both" id="choose-both-button" class="button">Choose both</div>
    </div>
  </div>
</div>
