$transition-duration: 250ms;

$smoke: #eee;
$gray: #ccc;
$black: #474747;

// from https://color.adobe.com/Birdfolio-Blues-color-theme-1945976
$outer-space: #2B3A42;
$fiord: #3F5765;
$ziggurat: #BDD4DE;
$gallery: #EFEFEF;
$international-orange: #FF530D;

$thunderbird: #B9121B;

$body-background-color: $gallery;
$text-color: $outer-space;

$cause-images: (
  ('climate-change', 240, 127, 1.5, 1.3 ), 
  ('improving-democracy', 188, 140, 1, 1 ),
  ('criminal-justice-reform', 250, 98, 2, 2.6 ),
  ('defense-policy', 175, 140, 1, 1 ),
  ('education-policy', 113, 158, 0, 0.8 ),
  ('foreign-aid', 150, 178, -1.1, 0.7 ),
  ('health-care-policy', 120, 160, -0.1, 0.8 ),
  ('labor-mobility', 197, 140, 1, 1 ),
  ('macroeconomic-policy', 175, 140, 1, 1 ),
  ('redistribution', 140, 152, 0.1, 1.1 ),
  ('trade-policy', 197, 155, 0, 1 ),
  ('zoning-reform', 159, 140, 1, 1 )
); 