$transition-duration: 250ms;

$smoke: #eee;
$gray: #ccc;
$black: #474747;

// from https://color.adobe.com/Birdfolio-Blues-color-theme-1945976
$outer-space: #2B3A42;
$fiord: #3F5765;
$ziggurat: #BDD4DE;
$gallery: #EFEFEF;
$international-orange: #FF530D;

$thunderbird: #B9121B;

$body-background-color: $gallery;
$text-color: $outer-space;

$cause-images: (
  ('climate-change', 200, 106, 1.2, 1 ), 
  ('improving-democracy', 160, 120, 0, 1 ),
  ('criminal-justice-reform', 225, 88, 1, 1.5 ),
  ('defense-policy', 160, 128, 0, 1 ),
  ('education-policy', 170, 125, 0, 1 ),
  ('foreign-aid', 160, 190, -1, 0.5 ),
  ('health-care-policy', 200, 112, 0.3, 1.2 ),
  ('labor-mobility', 180, 128, -0.2, 0.8 ),
  ('macroeconomic-policy', 160, 128, -0.2, 0.8 ),
  ('redistribution', 140, 152, -0.2, 0.8 ),
  ('trade-policy', 150, 134, -0.5, 0.8 ),
  ('zoning-reform', 150, 131, -0.2, 0.8 )
); 